body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 60px;
    padding-left: 270px;
}

table {
    border-spacing: 0px;
    border-top: 1px solid #ddd;
    margin-left: 15px;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
}

th {
    width: 300px;
    text-align: left;
    background-color: #f0eeec;
    font-weight: 500;
}

td {
    width: 600px;
    text-align: center;
}

.product {
    display: flex;
    align-items: center;
    transition: height .5s ease-out;
    overflow:hidden; 
}

.left {
    margin-left: 30px;
    margin-right: 45px;
}

.downloadButton {
    margin: auto;
    display: block;
    border: 2px solid #5abffa;
    background-color: white;
    font-size: 24px;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.downloadButton:hover {
    background-color: #5abffa;
    color: white; 
    cursor: pointer;
}

.info {
    font-size: 20px;
    color: #5abffa;
    font-weight: bold;
}

.slideButton {
    color: white;
    background-color: #262625;
    border: 2px solid #262625;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#filter {
  height: 100%;
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 30px;
  -ms-overflow-style: none;
  scrollbar-color:  rgb(243, 82, 82) rgb(0,0,0,0);
  scrollbar-width: thin;
}

#filter::-webkit-scrollbar {
width: 5px;
height: 10px;

}

#filter::-webkit-scrollbar-thumb {
background: rgb(243, 82, 82);
border-radius: 4px;
}

#filter::-webkit-scrollbar-track {
background: rgb(0,0,0,0);
}

#filterForm {
  padding-right: 0px;
}

input[type = submit], #clearButton {
    display: block;
    color: white;
    border: 2px solid #262625;
    background-color:#262625;
    font-size: 15px;
    border-radius: 5px;
    float: left;
    margin-top: 20px;
}

#clearButton {
  border: 2px solid rgb(243, 82, 82);
  background-color:rgb(243, 82, 82); 
  margin-left: 15px;
}

input[type = submit]:active {
    border: 2px solid #454543;
    background-color: #454543
}

#clearButton:active {
  border: 2px solid rgb(240, 102, 102);
  background-color: rgb(240, 102, 102)
}

input[type = submit]:hover, #clearButton:hover {
cursor: pointer
}

#bestResults {
  margin-top: 3px;
  margin-right: 15px;
}

h1 {
    width: 100%;
    position: fixed;        
    background: #262625;
    padding: 10px 0;
    color:white;
    top: 0;
    left: 0;
    padding-left: 20px;
    z-index: 100000;
    margin-top: 0px;
    cursor: pointer;
}

.small {
  font-size: 25px;
}

form {
    background-color: rgb(250, 240, 240); 
    padding: 20px
}

#categoryList, #featuresList {
  background-color: rgb(250, 240, 240);
  padding: 10px;
}

.filterTitle {
  background-color:rgb(243, 82, 82);
  color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-right: 10px;
  margin-bottom: 0px;
  display: inline-block;
}

.customCheckbox {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .customCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgb(247, 217, 217);
  }
  
  .customCheckbox:hover input ~ .checkmark {
    background-color:  rgb(248, 183, 183);
  }
  
  .customCheckbox input:checked ~ .checkmark {
    background-color: #262625;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .customCheckbox input:checked ~ .checkmark:after {
    display: block;
  }

  .customCheckbox .checkmark:after {
    left: 5px;
    top: 2px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .fadeinfirst {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    transition: 1.5s opacity;
  }

#intro {
  font-size: 85px;
  text-align: center;
  margin-top: 170px;
  color: rgb(243, 82, 82);
}

#bottomtext {
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  text-align: center;
  font-size: 35px;
  color:#262625;
}

/* .fadeinsecond {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  transition: 1.5s opacity;
} */

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

#noresults {
  font-size: 20px;
  text-align: center;
  margin-top: 23%;
  color: #262625;
}

#filteragain {
  font-size: 20px;
  text-align: center;
  margin-top: 23%;
  color: #2e2e14;
}

/* .downArrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border-style: solid;
  border-color: black;
  margin-left: 50%;
  border-width: 0px 5px 5px 0px;
  transform: rotate(45deg);
  transition: 2s border-color;
}

.downArrow:hover {
  border-color: #545252;
  cursor: pointer;
} */

#about {
  opacity: 0;
  transition: 5s opacity;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 18px;
  color: #262625;
}

#homepage {
  position: fixed;
  transition: 2s all ease;
}

#logo {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  opacity: 0.7;
}

#update {
  right: 0;
  left: auto;
  font-size: 15px;
}

#loader {
  filter: brightness(0) saturate(100%) invert(58%) sepia(75%) saturate(5080%) hue-rotate(331deg) brightness(100%) contrast(91%);
  padding-left: 500px;
  padding-top: 250px;
}

#resultslist {
  margin-bottom: 15px;
  color: rgb(156, 156, 156);
  font-size: 14px;
}